<header class="app-header">
  <div class="logo">
    <mat-icon class="logo-icon">home</mat-icon>
    <span class="logo-text">Sportbuddy</span>
  </div>

  <nav class="nav-links">
    <a mat-button routerLink="/" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
    <a mat-button routerLink="/services" routerLinkActive="active-link"
      >Services</a
    >
    <a mat-button routerLink="/contact">Contact</a>
  </nav>

  <div class="user-profile">
    <a class="user-icon" matTooltip="View Profile" routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
    </a>

    <app-login></app-login>

   <app-app-logout></app-app-logout>
  </div>
</header>
