.login-profile {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 12px;
}

.login-icon {
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

.login-profile:hover{
    cursor: pointer;
}