<app-header></app-header>
<div *ngIf="sportler; else notFound" class="profile-container">
  <h2>&#64;{{ sportler.username }}</h2>
  <p><strong>Name:</strong> {{ sportler.firstname }} {{ sportler.lastname }}</p>
  <p><strong>Email:</strong> {{ sportler.email }}</p>
  <p><strong>Ort:</strong> {{ sportler.ort }}</p>
  <p><strong>Wann bin ich verfügbar?:</strong> {{ sportler.verfuegbarkeit }}</p>

  <p><strong>Sportarten:</strong> {{ sportler.sportartenIds }}</p>
  <!-- Mehr Felder nach Bedarf -->
</div>

<ng-template #notFound>
  <p *ngIf="error">{{ error }}</p>
</ng-template>
